* {
  margin: 0;
  padding: 0;
  
}

html, body {
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-style: solid;
  /* padding: 30px; */
  /* margin: 10%; */
  overflow: hidden;
  height: 100vh;
  margin: 0;
  background-image: url("https://source.unsplash.com/2400x1800/?nature");
  /* width: 100%; */
}


.center-container {
  border-color: rgb(163, 217, 255);
  border-style: solid;
  padding: 80px;
  /* height: 500px; */
  background: rgba(0,0,0,.9);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.center-container, input {
  color: azure;
}

input {
  background: none;
  outline: none;
  border: none;
  border-bottom: 2px solid white;
  /* padding: 0 0; */
  /* margin-top: 10px; */
  height: 10px;
  padding: 8px 18px;
  /* width: auto; */
  /* margin-bottom: 10px; */
  margin: 20px auto 20px auto;
  
  font-size: 16px;
}

::placeholder {
  font-size: 16px;
  color: rgb(163, 255, 255);  
}



.button {
  background: rgb(163, 217, 255);
  border-radius: 990px;
  box-shadow: rgb(163, 217, 255) 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 6px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin-left: 4px;
}

#user-message{
  text-decoration: underline;
  font-weight: 900;
  color:rgb(255, 247, 170);
  font-size: large;
}

#weather-details{
  text-transform: capitalize;
}